<h2><%= @sub.title %></h2>

<%= @sub.description %><br>
<a href="<%= edit_sub_url(@sub) %>" >Edit Sub</a>
<form action="<%= edit_sub_url(@sub) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <input type="hidden" name="_method" value="get">
  <input type="submit" name="" value="Edit Sub" >
</form>
<br><br>

<a href="<%=new_sub_post_url(@sub)%>">New Post</a>
<% @sub.posts.each do |post| %>
  <a href="<%= post.url == "" ? post_url(post) : "http://#{post.url}" %>"><%= post.title %></a>
<% end %>